.filterPane {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    // gap: 1rem;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 1.5rem;

        h3 {
            margin: 0;
            text-transform: capitalize;
            font-size: 1.1rem;
            font-weight: 500;
        }
    }

    .searchSection {
        margin-top: 1.2rem;
    }

    .filterSections {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 1500px) {
    .filterPane {
        flex-direction: row;
        gap: 1rem;
        align-items: stretch;
        margin-bottom: 1rem;

        .header {
            top: 100%;
            justify-content: flex-start;
            order: 2;

            h3 {
                display: none;
            }
        }

        .searchSection {
            margin-top: 0;
            order: 0;
            // flex-grow: 1;
        }

        .filterSections {
            flex-direction: row;
            gap: 1rem;
            order: 1;
            flex-grow: 1;
        }



    }
}

@media (max-width: 600px) {
    .filterPane {
        align-items: stretch;
        flex-direction: column;
        margin-bottom: 0.5rem;

        .header {
            height: auto;
            max-height: 2.2rem;
            justify-content: flex-end;
        }

        .searchSection {
            margin-top: 0;
        }
    }
}