.filterSection {
    width: 100%;
    transition: all var(--speed-medium);
    border-radius: 0.3rem;
    min-width: 4rem;
    margin-top: 1rem;
    flex-grow: 2;

    .filterSectionHeader {
        user-select: none;
        display: flex;
        overflow: hidden;
        justify-content: space-between;
        cursor: pointer;
        background-color: var(--color-bg);
        z-index: 2;
        border-radius: 0.3rem;
        padding: 0.4rem;
        transition: background-color var(--speed-medium), box-shadow var(--speed-medium);

        >div {
            font-size: 0.9rem;
            transition: all var(--speed-medium);

            .filterSectionActiveFilters {
                color: var(--color-accent-primary);
                transition: opacity var(--speed-medium);
            }
        }

        .filterSectionExpander {
            margin-left: 0.3rem;
        }

        &:hover {
            background-color: var(--color-bg-disable);

            >div {
                opacity: 0.5;
            }
        }
    }

    .tags {
        padding: 0.4rem;
        display: flex;
        flex-wrap: wrap;
        gap: 0.4rem;
        overflow: hidden;
        backdrop-filter: blur(0.5rem);
        transition: height var(--speed-medium), opacity var(--speed-medium);
        // z-index: 1;
        opacity: 1;
        max-height: 100vh;
    }

    &.collapsed {
        .filterSectionHeader:hover {

            >div {
                opacity: 1;
                color: var(--color-accent-primary);
            }
        }

        .tags {
            padding: 0rem 0.4rem;
            opacity: 0;
            max-height: 0;
        }
    }
}


@media (max-width: 1500px) {
    .filterSection {
        margin-top: 0;
        min-height: fit-content;
        height: 100%;
        position: relative;

        .filterSectionHeader {
            background-color: var(--color-bg-disable);
            border: var(--border-secondary);
            align-items: center;
            padding: 0.6rem;
            background-color: var(--color-glass);
            box-shadow: var(--shadow-large);

            >div {
                font-size: 0.8rem;
                font-weight: 400;
                color: var(--color-text-secondary);
            }

            &:hover {
                background-color: var(--color-bg-disable);
                box-shadow: var(--shadow-small);
            }
        }

        .tags {
            background-color: var(--color-glass);
            border: var(--border-secondary);
            backdrop-filter: blur(0.5rem);
            position: absolute;
            top: calc(100% + 0.3rem);
            left: 0;
            width: 100%;
            z-index: 1;
            border-radius: 0.3rem;
            box-shadow: var(--shadow-large);
        }

        &.collapsed {
            height: 100%;
            // min-width: 5rem;
            width: 50%;
        }
    }
}

@media (max-width: 600px) {
    .filterSection {
        // width: 7rem;
        // flex-grow: 1;

        .tags {
            max-height: 40vh;
            overflow-y: auto;
        }
    }
}