.datePane {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1ch;
    user-select: none;
    cursor: default;
    transition: height var(--speed-fast);
    max-height: 70vh;
    width: 100%;
    font-size: 0.8rem;
    color: var(--color-text-secondary);
    white-space: nowrap;

    .description {
        opacity: 0.5;
    }

    .dates {
        display: flex;
        gap: 1ch;
        align-items: center;
        flex-grow: 1;

        .start,
        .end {
            opacity: 0.5;
        }

        .line {
            height: var(--border-width-secondary);
            border-radius: 3px;
            background-color: var(--color-border);
            flex-grow: 1;
        }
    }

    @media (max-width: 450px) {
        flex-direction: column;
        align-items: stretch;
    }
}